numpy==1.21.6
pandas==1.5.3
tqdm==4.65.0
ipdb==0.13.13
gensim==4.2.0
ujson==5.8.0
scikit-learn==1.2.2
reformer_pytorch==1.4.4
torch==1.9.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
opt-einsum==3.3.0
click==8.1.7
appdirs==1.4.4
google-api-python-client==2.104.0
nltk==3.8.1
ipywidgets==8.0.4