numpy
pandas
tqdm
ipdb
gensim
ujson
scikit-learn
reformer_pytorch
torch==1.8.0+cu111
-f https://download.pytorch.org/whl/torch_stable.html
opt_einsum
click
appdirs
google-api-python-client
nltk
umls-downloader
ipywidgets
bioversions